@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 };
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

.btn-style{
  @apply border-2 border-green-500 bg-white hover:bg-green-700 hover:text-green-100 text-green-700 font-semibold rounded-full mb-10 md:mb-6 lg:mb-10 cursor-pointer
}